Body{
  background: #7F525D;
}
a:link,
a:visited {
    color: white;
    text-transform: uppercase;}
a:hover {
    background: #848B79;
    margin-left: 10px;}
.navigation li {
  		display: inline-block;
        margin: 0 0.5em;
        font-family: 'ABeeZee', sans-serif;
        align-content: center;
        float: inherit;
        		}
.navigation li a {
			display: block;
			padding: 1em 0.5em;
        center:text ;
		}
li{
background: #728C00;
    color:white;}

img{
    height: 21.875em;
    padding: .625em;
    
    
    
}


div.intro{
    background: #728C00;
    width: 625px;
    text-align: center;
    float:left
    
}
div.exp{
    background: #728C00;
    width: 39.0625em;
    height:53.125em;
    text-align: center;
    float:right;
    
}
div.skill{
    background: #728C00;
    width:39.0625em;
    
    
}
div.hobby{
    background: #728C00;
    width: 39.0625em; 
    margin-top: -43.75em;
    text-align: center;
    float:right;
    
    
}


h1{
    background: #5E7D7E;
    color: white;
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    
}
h2{
    background: #5E7D7E;
    color: white;
    text-align: center;
    font-family:'ABeeZee', sans-serif;
    
}


main {
  background: #7F525D;
  width: 31.25em;
  margin: 0 auto;
    align-content: center
}

article section {
  background: #667C26;
  float: left;
  width: 37.5em;
}


p{
   width:18.75em;
    height: auto;
    padding: 0 9.375em;
    font-family: 'ABeeZee', sans-serif;
    color: white;
    text-align: justify;

}

/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
	body {
       background: red;
	}
	
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background: green;
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background: blue;
  }

}


