/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1{
    background: #5E7D7E;
}
.color-2{
    background: #848B79;
}
.color-3{
    background: #7F525D;
}
.color-4{
    background: #667C26;
}
.color-5{
    background: #728C00;
}
/* Textures or Patterns*/
.pattern-1{
    background: url(../img/texture%201.jpeg);
}
.pattern-2{
    background: url(../img/texture%202.jpeg);
}
.pattern-3{
    background: url(../img/texture%203.jpeg) ;
}
.pattern-4{
    background: url(../img/texture%204.jpeg);
}
.pattern-5{
    background: url(../img/texture%205.jpeg);
}
/* Imagery */

.imagery-1{
    background: url(../img/camera.jpeg);
}
.imagery-2{
    background: url(../img/bicycle.jpeg);
}
,imagery-3{
    background: url(../img/clouds.jpeg);
}
.imagery-4{
    background: url(../img/forest.jpeg);
}
.imagery-5{
    background: url(../img/cat.jpeg);
}
/* Icons */


/* Navigation */

a:link,
a:visited {
    color: gray;
    text-transform: uppercase;
}
a:hover {
    background: lightblue;
    margin-left: 10px;
}

a:active {
    color: white;
    background: blue;
}
/* Typography */
p{
    font-family: 'Open Sans', sans-serif;
    font-family: 'ABeeZee', sans-serif;
}
h{
    font-family: 'ABeeZee', sans-serif;
}
nav{
    font-family: 'ABeeZee', sans-serif;
}
